:root {
  --clr-success: hsl(143, 100%, 26%);
  --clr-warning: hsl(43, 100%, 66%);
  --clr-error: hsl(348, 55%, 49%);
}

button {
  padding: 0.5em;
}

.pv6 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pb7 {
  padding-bottom: unset;
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.4);
}

.tc-l {
  text-align: left !important;
}

form.pledge {
  fieldset {
    border: unset;
  }

  &:invalid button {
    opacity: 50%;
  }

  input,
  select {
    border-radius: 2px;
  }

  input:user-invalid:not(:focus),
  select:user-invalid:not(:focus) {
    outline: var(--clr-error) solid 1px;
  }

  input:user-valid:not(:focus),
  select:user-valid:not(:focus) {
    outline: var(--clr-success) solid 1px;
  }

  textarea {
    width: 100%;
  }
}
