:root {
  --clr-success: hsl(143, 100%, 26%);
  --clr-warning: hsl(43, 100%, 66%);
  --clr-error: hsl(348, 55%, 49%);
}

button {
  padding: 0.5em;
}

.pv6 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.pb7 {
  padding-bottom: unset;
}

.bg-black-60 {
  background-color: rgba(0, 0, 0, 0.4);
}

.tc-l {
  text-align: left !important;
}

fieldset {
  border: unset;
  position: relative;

  .progressIndicator {
    z-index: 1;
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);

    .spinner {
      aspect-ratio: 1;
      width: 100px;
      border-width: 20px;
      border-radius: 50%;
      border-style: solid;
      border-color: hsla(0, 0%, 83%, 50%);
      border-top-color: hsla(0, 0%, 41%, 75%);
      animation: rotate 1.5s linear infinite;
    }
  }

  &:disabled {
    .progressIndicator {
      display: revert;
    }
  }
}

.errorMessage {
  border: 2px solid var(--clr-error);
  padding: 0.5em;
}

form.pledge {

  &:invalid button {
    opacity: 50%;
  }

  .progressIndicator {
    .spinner {
      width: 300px;
      border-width: 40px;
    }
  }

  input,
  select {
    border-radius: 2px;
  }

  input:user-invalid:not(:focus),
  select:user-invalid:not(:focus) {
    outline: var(--clr-error) solid 1px;
  }

  input:user-valid:not(:focus),
  select:user-valid:not(:focus) {
    outline: var(--clr-success) solid 1px;
  }

  textarea {
    width: 100%;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
