<p class="pledgeConfirmation"></p>
<script>
  const response = sessionStorage.getItem("pledgeResponse");
  if (response) {
    const pledgeResponse = JSON.parse(response);
    console.log({ pledgeResponse });
    const { name, klassetrinn, skolenavn } = pledgeResponse.data;
    document.querySelector(".pledgeConfirmation").innerHTML =
      `Vi har mottatt følgende informasjon. Foresatte: ${name}, barn ved ${klassetrinn}. klasse ved ${skolenavn}`;
    sessionStorage.removeItem("pledgeResponse");
  }
</script>
