<form
  action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSekkpFDe6qqwFF5sYbcNJ1eCg-N_B5UeF8-FqkvIDX-nS8CEQ/formResponse"
  method="POST"
  class="pledge"
>
  <fieldset>
    <p>
      <label>
        Navn på foresatte:
        <br />
        <input type="text" name="entry.89046536" required />
      </label>
    </p>
    <p>
      <label>
        Epost foresatte:
        <br />
        <input type="email" name="entry.1607245198" required />
      </label>
    </p>
    <p>
      <label>
        Fylke:
        <br />
        <select id="fylkeSelect" name="entry.1855713922" required>
          <option></option>
        </select>
      </label>
    </p>
    <p>
      <label>
        Kommune:
        <br />
        <select id="kommuneSelect" name="entry.916849448" required>
          <option></option>
        </select>
      </label>
    </p>
    <p>
      <label>
        Skole:
        <br />
        <select id="skoleSelect" name="entry.1872431456" required></select>
      </label>
    </p>
    <p>
      <label>
        Klassetrinn:
        <br />
        <input type="number" name="entry.983045582" min="1" max="13" required />
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="entry.1955954328" required />
        Jeg samtykker til at Skjermfri Norge kan kontakte meg
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="entry.1440581532" />
        Jeg ønsker at Skjermfri Norge skal dele min emailadresse med andre
        foreldre ved min skole (valgfritt)
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="entry.1175173194" />
        Jeg ønsker å motta nyhetsbrev fra Skjermfri Norge (valgfritt)
      </label>
    </p>
    <p>
      <label for="kommentarerTextArea">Kommentarer: (valgfritt)</label>
      <br />
      <textarea name="entry.1954664770" id="kommentarerTextArea"></textarea>
    </p>
    <p>
      <button type="submit">Registrer meg</button>
    </p>
  </fieldset>
</form>
<iframe name="hidden_iframe" style="display: none"></iframe>
<script src="/data.js"></script>
<script>
  function createOption({ text, value }) {
    const option = document.createElement("option");
    option.innerText = text;
    if (value) option.setAttribute("value", value);
    return option;
  }

  const fylkeSelect = document.getElementById("fylkeSelect");
  fylkeSelect.addEventListener("change", populateKommmuneSelect);
  const kommuneSelect = document.getElementById("kommuneSelect");
  kommuneSelect.addEventListener("change", populateSkoleSelect);
  const skoleSelect = document.getElementById("skoleSelect");

  for (const [fylkenr, fylke] of fylker) {
    fylkeSelect.append(createOption({ text: fylke, value: fylkenr }));
  }

  function populateKommmuneSelect() {
    skoleSelect.innerHTML = "";
    kommuneSelect.innerHTML = "";
    kommuneSelect.append(createOption({ text: "" }));
    for (const [fylkenummer, kommunenummer, text] of kommuner) {
      if (fylkeSelect.value === fylkenummer) {
        kommuneSelect.append(createOption({ text, value: kommunenummer }));
      }
    }
  }

  function populateSkoleSelect() {
    skoleSelect.innerHTML = "";
    skoleSelect.append(createOption({ text: "" }));
    skoleSelect.setAttribute(
      "disabled",
      kommuneSelect.value.length ? "false" : "true",
    );
    if (kommuneSelect.value) {
      skoleSelect.removeAttribute("disabled");
      for (const [
        fylkesnummer,
        kommunenummer,
        skolenavn,
        value,
        lavestetrinn,
        hoeyestetrinn,
        eierform,
        besoksadresse
      ] of skoler) {
        if (kommunenummer === kommuneSelect.value) {
          skoleSelect.append(createOption({ text: `${skolenavn}, ${besoksadresse}`, value }));
        }
      }
    } else {
      skoleSelect.setAttribute("disabled", "disabled");
    }
  }
</script>
